<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.Mapper.TagMapper">

    <select id="findTagsByArticleId" parameterType="long" resultType="com.blog.pojo.Tag">
        select id,avatar,tag_name as tagName from ms_tag
        where id in (select tag_id from ms_article_tag where article_id=#{articleId})
    </select>

    <select id="findHotTagIds" resultType="java.lang.Long">
        SELECT tag_id FROM `ms_article_tag` group by tag_id ORDER BY count(*) desc limit #{limit}

    </select>

    <select id="findHotTagName" resultType="com.blog.pojo.Tag">
        select id,avatar,tag_name as tagName from ms_tag
        where id in
        <foreach collection="list" item="tagId" open="(" close=")" separator=",">
            #{tagId}
        </foreach>
        ORDER BY field(id ,
        <foreach collection="list" item="id"  separator="," close=")" >
            #{id}
        </foreach>
    </select>

</mapper>